## Text Preprocessing Exercise in Tokenisation

#### Introduction
Lets download a set of data containing news clipping written in English,

In [103]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize
from nltk.tokenize import RegexpTokenizer
from nltk.util import ngrams
from nltk.corpus import stopwords
import pandas as pd
import re 
import string

In [104]:
news_corpus = pd.read_csv('./data/news_clipping.csv',encoding='utf-8')
news_corpus.head(15)

       article_nr                                      news_snippets
0   AP880224-0195  The Bechtel Group Inc. offered in 1985 to sell...
1   AP881017-0144  A gunman took a 74-year-old woman hostage afte...
2   AP881017-0219  Today is Saturday, Oct. 29, the 303rd day of 1...
3   AP900117-0022  Cupid has a new message for lovers this Valent...
4   AP880405-0167  The Reagan administration is weighing whether ...
5   AP880825-0239  More than 120,000 skins of a protected species...
6   AP880325-0232  There will be no organized union boost behind ...
7   AP880908-0056  Here is a summary of developments in forest an...
8   AP881105-0097  Jean-Pierre Stirbois, the No. 2 man in the ext...
9   AP880716-0112  At least 15 people died and 25,000 residents o...
10  AP880608-0142  Actress Betty Buckley sang ``They Can't Take T...
11  AP881110-0228  For three years, Charles S. Robb was out of th...
12  AP900802-0166  An article in the August issue of the glossy W...
13  AP881214-0257  The operating rate at U.S. factories, mines an...
14  AP880401-0081  Ferrets are increasingly popular as pets, but ...

#### Task 1

1. Tokenize each new clipping into sentences
2. The list of sentences should be saved into a new column sentence_tokens within the same dataframe

In [105]:
# your answers

# We can directly apply sent_tokenize to the text

news_corpus['sentence_tokens'] = news_corpus.news_snippets.map(sent_tokenize)

In [106]:
# this is to check that there are new entries made in the column sentence_tokens
news_corpus.head()

,article_nr,news_snippets,sentence_tokens
0,AP880224-0195,The Bechtel Group Inc. offered in 1985 to sell...,[The Bechtel Group Inc. offered in 1985 to sel...
1,AP881017-0144,A gunman took a 74-year-old woman hostage afte...,[A gunman took a 74-year-old woman hostage aft...
2,AP881017-0219,"Today is Saturday, Oct. 29, the 303rd day of 1...","[Today is Saturday, Oct. 29, the 303rd day of ..."
3,AP900117-0022,Cupid has a new message for lovers this Valent...,[Cupid has a new message for lovers this Valen...
4,AP880405-0167,The Reagan administration is weighing whether ...,[The Reagan administration is weighing whether...

In [107]:
# this is to check the contents of one row of the column sentence_tokens

my_sentences  = news_corpus['sentence_tokens'][0]

print ("number of sentences ", len(my_sentences))  # count the number of sentences
print (my_sentences)       # prints out the sentence tokens

number of sentences  28
['The Bechtel Group Inc. offered in 1985 to sell oil to Israel at a discount of at least $650 million for 10 years if it promised not to bomb a proposed Iraqi pipeline, a Foreign Ministry official said Wednesday.', "But then-Prime Minister Shimon Peres said the offer from Bruce Rappaport, a partner in the San Francisco-based construction and engineering company, was ``unimportant,'' the senior official told The Associated Press.", 'Peres, now foreign minister, never discussed the offer with other government ministers, said the official, who spoke on condition of anonymity.', "The comments marked the first time Israel has acknowledged any offer was made for assurances not to bomb the planned $1 billion pipeline, which was to have run near Israel's border with Jordan.", 'The pipeline was never built.', "In San Francisco, Tom Flynn, vice president for public relations for the Bechtel Group, said the company did not make any offer to Peres but that Rappaport, a Swiss financier, made it without Bechtel's knowledge or consent.", "Another Bechtel spokesman, Al Donner, said Bechtel ``at no point'' in development of the pipeline project had anything to do with the handling of the oil.", "He said proposals submitted by the company ``did not include any specific arrangements for the handling of the oil or for the disposal of the oil once it reached the terminal.''", "Asked about Bechtel's disclaimers after they were made in San Francisco, the Israeli Foreign Ministry official said Peres believed Rappaport made the offer for the company.", "``Rappaport came to Peres as a representative of Bechtel and said he was speaking on behalf of Bechtel,'' the official said.", "``If he was not, he misrepresented himself.''", 'The Jerusalem Post on Wednesday quoted sources close to Peres as saying that according to Rappaport, Bechtel had said the oil sales would have to be conducted through a third party to keep the sales secret from Iraq and Jordan.', 'The Foreign Ministry official said Peres did not take the offer seriously.', "``This is a man who sees 10 people every day,'' he said.", '``Thirty percent of them come with crazy ideas.', 'He just says, `Yes, yes.', "We'll think about it.'", "That's how things work in Israel.''", 'The offer appeared to be the one mentioned in a September 1985 memo to Attorney General Edwin Meese III.', "The memo referred to an arrangement between Peres and Rappaport ``to the effect that Israel will receive somewhere between $65 million and $70 million a year for 10 years.''", "The memo from Meese friend E. Robert Wallach, Rappaport's attorney, also states, ``What was also indicated to me, and which would be denied everywhere, is that a portion of those funds will go directly to Labor,'' a reference to the political party Peres leads.", 'The Wallach memo has become the focus of an investigation into whether Meese knew of a possibly improper payment.', "Peres has denied any wrongdoing and has denounced the memo as ``complete nonsense.''", 'The Israeli official said Rappaport, a native of Israel and a close friend of Peres, relayed the offer to Peres earlier in September.', '``Peres thought the offer was unimportant.', "For him, the most important thing was to have an Iraqi oil port near Israel's border,'' the official said.", "``The thinking was that this would put Iraq in a position where it would not be able to wage war with Israel, out of concern for its pipeline.''", "A person answering the telephone at Rappaport's Swiss residence said he was out of town and could not be reached for comment."]

#### Task 2
1. For each sentences, further tokenize into uni-grams or words.
2. The list of sentences should be saved into a new column sentence_word_tokens within the same dataframe

In [108]:
##Create a for loop goes through the list of sentences

def  sentences_to_word_tokens(sentences):
    # input: sentences is a list of string(sentence)
    # return: a list that contains a list of tokens
    word_tokens = []
    for s in sentences:
       word_tokens.append(word_tokenize(s))    
    return word_tokens

news_corpus['sentence_with_words_tokens'] = news_corpus.sentence_tokens.map(sentences_to_word_tokens)

In [109]:
news_corpus.head()

,article_nr,news_snippets,sentence_tokens,sentence_with_words_tokens
0,AP880224-0195,The Bechtel Group Inc. offered in 1985 to sell...,[The Bechtel Group Inc. offered in 1985 to sel...,"[[The, Bechtel, Group, Inc., offered, in, 1985..."
1,AP881017-0144,A gunman took a 74-year-old woman hostage afte...,[A gunman took a 74-year-old woman hostage aft...,"[[A, gunman, took, a, 74-year-old, woman, host..."
2,AP881017-0219,"Today is Saturday, Oct. 29, the 303rd day of 1...","[Today is Saturday, Oct. 29, the 303rd day of ...","[[Today, is, Saturday, ,, Oct., 29, ,, the, 30..."
3,AP900117-0022,Cupid has a new message for lovers this Valent...,[Cupid has a new message for lovers this Valen...,"[[Cupid, has, a, new, message, for, lovers, th..."
4,AP880405-0167,The Reagan administration is weighing whether ...,[The Reagan administration is weighing whether...,"[[The, Reagan, administration, is, weighing, w..."

In [110]:
# Let's compare sentence_tokens and sentence_with_words_tokens for the first row, and the first sentence

print ("The full sentence is : \n" , news_corpus.sentence_tokens[0][0])
print ("\nThe sentence is tokenize into : \n",  news_corpus.sentence_with_words_tokens[0][0])

The full sentence is :
 The Bechtel Group Inc. offered in 1985 to sell oil to Israel at a discount of at least $650 million for 10 years if it promised not to bomb a proposed Iraqi pipeline, a Foreign Ministry official said Wednesday.

The sentence is tokenize into :
 ['The', 'Bechtel', 'Group', 'Inc.', 'offered', 'in', '1985', 'to', 'sell', 'oil', 'to', 'Israel', 'at', 'a', 'discount', 'of', 'at', 'least', '$', '650', 'million', 'for', '10', 'years', 'if', 'it', 'promised', 'not', 'to', 'bomb', 'a', 'proposed', 'Iraqi', 'pipeline', ',', 'a', 'Foreign', 'Ministry', 'official', 'said', 'Wednesday', '.']

#### Task 3
1. For each sentences, further tokenize into bigrams.
2. The list of sentences should be saved into a new column sentence_with_bigram_tokens within the same dataframe

In [111]:
##Create a for loop goes through the list of sentences

def  sentences_to_bigrams(sentences):
    # input: sentences is a list of strings
    # return: a list that contains a list of tokens
    bigrams = []
    for s in sentences:
       word_tokens = word_tokenize(s)
       bigram_list = list(ngrams(word_tokens,2))
       bigrams.append(bigram_list)    
    return bigrams

# list(ngrams(word_tokenize(my_text),2))

news_corpus['sentence_with_bigram'] = news_corpus.sentence_tokens.map(sentences_to_bigrams)

In [112]:
# Let's compare the sentences, sentence tokens, word tokens and bigram tokens for the first row, and the first sentence

print ("The full sentence is : \n" , news_corpus.sentence_tokens[0][0])
print ("\nThe sentence is tokenize into words: \n",  news_corpus.sentence_with_words_tokens[0][0])
print ("\nThe sentence is tokenize into bigrams : \n",  news_corpus.sentence_with_bigram[0][0])

The full sentence is :
 The Bechtel Group Inc. offered in 1985 to sell oil to Israel at a discount of at least $650 million for 10 years if it promised not to bomb a proposed Iraqi pipeline, a Foreign Ministry official said Wednesday.

The sentence is tokenize into words:
 ['The', 'Bechtel', 'Group', 'Inc.', 'offered', 'in', '1985', 'to', 'sell', 'oil', 'to', 'Israel', 'at', 'a', 'discount', 'of', 'at', 'least', '$', '650', 'million', 'for', '10', 'years', 'if', 'it', 'promised', 'not', 'to', 'bomb', 'a', 'proposed', 'Iraqi', 'pipeline', ',', 'a', 'Foreign', 'Ministry', 'official', 'said', 'Wednesday', '.']

The sentence is tokenize into bigrams :
 [('The', 'Bechtel'), ('Bechtel', 'Group'), ('Group', 'Inc.'), ('Inc.', 'offered'), ('offered', 'in'), ('in', '1985'), ('1985', 'to'), ('to', 'sell'), ('sell', 'oil'), ('oil', 'to'), ('to', 'Israel'), ('Israel', 'at'), ('at', 'a'), ('a', 'discount'), ('discount', 'of'), ('of', 'at'), ('at', 'least'), ('least', '$'), ('$', '650'), ('650', 'million'), ('million', 'for'), ('for', '10'), ('10', 'years'), ('years', 'if'), ('if', 'it'), ('it', 'promised'), ('promised', 'not'), ('not', 'to'), ('to', 'bomb'), ('bomb', 'a'), ('a', 'proposed'), ('proposed', 'Iraqi'), ('Iraqi', 'pipeline'), ('pipeline', ','), (',', 'a'), ('a', 'Foreign'), ('Foreign', 'Ministry'), ('Ministry', 'official'), ('official', 'said'), ('said', 'Wednesday'), ('Wednesday', '.')]

In [113]:
# Let's compare the sentences, sentence tokens, word tokens and bigram tokens for the  11th row, and the third sentence

print ("The full sentence is : \n" , news_corpus.sentence_tokens[10][2])
print ("\nThe sentence is tokenize into words: \n",  news_corpus.sentence_with_words_tokens[10][2])
print ("\nThe sentence is tokenize into bigrams : \n",  news_corpus.sentence_with_bigram[10][2])

The full sentence is :
 He was the epitome of elegance and high standards.

The sentence is tokenize into words:
 ['He', 'was', 'the', 'epitome', 'of', 'elegance', 'and', 'high', 'standards', '.']

The sentence is tokenize into bigrams :
 [('He', 'was'), ('was', 'the'), ('the', 'epitome'), ('epitome', 'of'), ('of', 'elegance'), ('elegance', 'and'), ('and', 'high'), ('high', 'standards'), ('standards', '.')]

### Task 4 (optional)
1. As you examine the results of the tokenization, you may come across strange combination of symbols, or characters that do not make senses or complicated the tokenization effort. In this case, you may wish to do use regular expression to substitute out these symbols, characters for something else.

In [114]:
# your answer