### Example on Regular Expression

###  Import re

In [68]:
import re

##### Let us explore compile method

In [69]:
pattern = "\d+ cents per share"
compiled_re = re.compile(pattern)

In [70]:
string = """Including the interim dividend of 
10 cents per share paid on 3 December 2013, the proposed final dividend 
of 11 cents per share and the proposed special dividend of 25 cents per share 
to be paid on 14 August 2014, the total dividend for the
2013-14 financial year will be 46 cents per share. """

In [71]:
result = compiled_re.findall(string)

In [72]:
print (result)

['10 cents per share', '11 cents per share', '25 cents per share', '46 cents per share']

#### Let us see how to apply compile method in Pandas dataframe

In [73]:
import pandas as pd
df = pd.read_csv("data/dividend_statements.csv")

In [74]:
df.head()

  company                                      dividend_text
0     ABC  Including the interim dividend of 10 cents per...
1     XYZ  Together with the interim dividend of 12 cents...
2     PQR  Including the interim dividend of 34 cents per...

In [75]:
df["dividend"] = "empty"

In [76]:
for ind in df.index: 
     df["dividend"][ind] = compiled_re.findall(df["dividend_text"][ind])

In [77]:
df.head()

,company,dividend_text,dividend
0,ABC,Including the interim dividend of 10 cents per...,"[10 cents per share, 11 cents per share, 25 ce..."
1,XYZ,Together with the interim dividend of 12 cents...,"[12 cents per share, 10 cents per share]"
2,PQR,Including the interim dividend of 34 cents per...,"[34 cents per share, 11 cents per share, 25 ce..."